.vscode/**
.vscode-test/**
src/**
node_modules/**
docs/**
out/**/*.map
**/*.ts
tsconfig.json
.gitignore
media/fap-studio-icon.png
media/fap-studio-color-icon.png
media/flipperzero.webp
media/logo-only.png
*.vsix
PUBLISHING.md
