.vscode/**
.vscode-test/**
src/**
node_modules/**
docs/**
out/**/*.map
**/*.ts
tsconfig.json
.gitignore
media/FAP Studio Icon.png
media/FAP Studio Color Icon.png
media/flipperzero.webp
media/logo only.png
*.vsix
PUBLISHING.md
