.vscode/**
.vscode-test/**
.github/**
src/**
docs/**
screenshots/**
social/**
out/**/*.map
**/*.ts
tsconfig.json
.gitignore
media/fap-studio-icon.png
media/fap-studio-color-icon.png
media/flipperzero.webp
media/logo-only.png
*.vsix
PUBLISHING.md
